prompt-toolkit
loguru
aiohttp
pydantic
PyYAML
aiosqlite
croniter
graia-application-mirai == 0.19.2
graia-broadcast == 0.8.11
graia-scheduler == 0.0.4
graia-saya == 0.0.10
sphinx
sphinx-rtd-theme
recommonmark
autodoc
autodoc-pydantic
